<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>219093624618-440oq56ggvv18t5buiphtes310ihqf7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219093624618-440oq56ggvv18t5buiphtes310ihqf7u</string>
	<key>API_KEY</key>
	<string>AIzaSyC5VteR4zXPwRUv3oCSkbQXHEWK86d1kpY</string>
	<key>GCM_SENDER_ID</key>
	<string>219093624618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AndAnotherOne.FirebaseUITest</string>
	<key>PROJECT_ID</key>
	<string>friendlychat-4f879</string>
	<key>STORAGE_BUCKET</key>
	<string>friendlychat-4f879.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:219093624618:ios:7daf3f9e11065d5c</string>
	<key>DATABASE_URL</key>
	<string>https://friendlychat-4f879.firebaseio.com</string>
</dict>
</plist>